{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "forceAllTransforms": true
        },
        "modules": false
      }
    ],
    "@babel/preset-stage-2"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import"
  ]
}
