@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.music {
  position: absolute;
  z-index: 1000;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #8a8a8a;
  border-radius: 5rem;
  display: flex;

  img {
    margin: auto;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
  }

  &.active {
    animation: rotate 5s linear infinite;
  }
}